.mainContainer{
    background-color: #f3f3f3;
    margin: auto;
    width: 32%;
    /* border: 3px solid green; */
    padding: 10px;
    /* height: 100%; */
    margin-top: 20px;
    border-radius: 13PX;
    padding: 20px ;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mainContainer > h4{
    color: #164a41;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-shadow: rgba(62, 47, 226, 0.09);
}

@media(max-width:1000px) and (min-width: 180px){
    .mainContainer{
        width: 95% !important;
        height: 98% !important;
        margin-bottom: 30px !important;
      
    }
}